@import "../../styles/themes.css";

.protected {
  position: absolute;
  left: 0;
  z-index: 99;
  background-color: #ffffffd0;
}

.input-bar {
  position: sticky;
  bottom: 0;
}

.files-btn {
  padding: 0.1em;
  background-color: var(--BACKGROUND-COLOR);

  cursor: pointer;

  position: absolute;
  right: 3px;
  width: 2em;
}

.files-btn svg {
  fill: var(--BORDER-COLOR);
  height: 100%;
}

.message-input {
  font-size: 1.1em;
  width: 100%;
  background-color: var(--BACKGROUND-COLOR);
  border-color: var(--BORDER-COLOR);
}

.send-btn {
  margin-left: 0.3em;
  color: inherit;
  background-color: var(--BACKGROUND-COLOR);
  border-color: var(--BORDER-COLOR);
}
