rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{document=**} {
      allow read: if true;
    }
    match /rooms/{document=**} {
      allow write, delete: if request.auth != null;
    }
    match /users/{document=**} {
      allow read, write, delete: if request.auth != null;
    }
  }
}