/* Cover */
.content-max {
  width: 100vw;
  height: 100vh;
}

.max {
  width: 100%;
  height: 100%;
}

/* Flexbox */
.in-flx {
  display: inline-flex;
}

.flx {
  display: flex;
}

.clm {
  flex-direction: column;
}

.jus-ct {
  justify-content: center;
}

.spc-btw {
  justify-content: space-between;
}

.al-ct {
  align-items: center;
}

/* Margin, mr-'s/m/l' */
.mr-s {
  margin: 0.5em;
}

.mr-m {
  margin: 1em;
}

.mr-l {
  margin: 1.5em;
}

/* Padding, pd-'s/m/l' */
.pd-s {
  padding: 0.5em;
}

.pd-m {
  padding: 1em;
}

.pd-l {
  padding: 1.5em;
}

.relative {
  position: relative;
}

.bg {
  background-color: var(--BACKGROUND-COLOR);
}
