@import "../../../../styles/themes.css";

.messages-container {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 5em;
}

.messages-container::-webkit-scrollbar {
  width: 6px;
}

.messages-container::-webkit-scrollbar-track {
  background: transparent;
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: #cecece;
}

.msg-box {
  display: inline-block;
  border: 1px solid #cecece;
  border-radius: 1em;
  padding: 0.4em 0.8em;
  text-align: inherit;
}

.msg-text {
  padding: 0.2em;
  font-size: 1.1em;
}

.msg-author {
  font-size: 0.8em;
  padding: 0.2em;
  color: var(--MSG-AUTHOR-COLOR);
}

.text-right {
  text-align: right;
}
