@import "../styles/themes.css";

.protected {
  position: absolute;
  left: 0;
  z-index: 99;
  background-color: #ffffffce;
}

.input-bar {
  position: sticky;
  bottom: 0;
}

.files-btn {
  padding: 0.1em;
  background-color: var(--BACKGROUND-COLOR);

  cursor: pointer;

  position: absolute;
  right: 3px;
  width: 2em;
}

.files-btn svg {
  fill: var(--TEXT_COLOR);
  height: 100%;
}

.message-input {
  width: 100%;
}

.send-btn {
  margin-left: 0.3em;
}
